<section>
    <p>
        username: {{username}}
    </p>
    <p>
        firstname: {{firstName}}
    </p>
    <p>
        lastname: {{lastName}}
    </p>
    <p>
        profession: {{profession}}
    </p>
    <p>
        bio: {{Bio}}
    </p>
    <a href="http://localhost:3000/logout">logout</a>
</section>